<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'doctor/css/footer.css' %}">
  
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color:  black;">
  <div class="container-fluid">
    <div class="navbar-header" style=" margin-left: 50px;">
      <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-user"></i>Health Prediction </a>
    </div>
    <ul class="nav navbar-nav" style="margin-left:150px;">
        <li class=""><a href="{% url 'home' %}">Home</a></li>
      
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
      
    </ul>
    
  <button class="btn btn-danger  " type="button"  style="margin-left:10px;float: right;margin-top: 9px;"> <a style='color:white;' href="{% url 'login' %}">back</a>
</nav>
{% if messages %}
{% for message in messages  %}
<p {% if message.tags %} class='{{ message.tags}}' {% endif %}>{{message}}</p>
{% endfor %}
{% endif %}
<div class="pt-5">  
  <div class="global-container">  
    <div class="card login-form">  
    <div class="card-body">  
        <h3 class="card-title text-center">A email has been sent.Please check!!</h3>  
        
    </div>  
</div>  
</div> 

    
</body>
</html>