<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Patient Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'patient/css/footer.css' %}">
  
</head>
<body>


<nav class="navbar navbar-inverse" style="background-color:  black;">
  <div class="container-fluid">
    <div class="navbar-header" style=" margin-left: 50px;">
      <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-user"></i>Health Prediction </a>
    </div>
    <ul class="nav navbar-nav" style="margin-left:150px;">
      <li class=""><a href="{% url 'patient' %}" >Home</a></li>

      
      <li ><a href="{% url 'doctorlist' %}"> Search Doctor</a></li>
      <li ><a href="#"> Search Disease</a></li>
     
      <li ><a href="{% url 'feedback' %}">Feedback</a></li>
      
      
    </ul>
    <div class="container">
    
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left:10px;float: right;margin-top: 9px; background-color: red;">{{username}}
  <span class="caret"></span></button>
  <ul class="dropdown-menu" style=" position: absolute;
    top: 100%;
    right: 1px;
    z-index: 1000;
    width: 160px;
    float: right; padding: 5px 0;
    margin: 2px 845px 0;
    font-size: 14px;
    text-align: left; background-color:black;color: white;">
    <li><a href="{% url 'changepasspro' %}">Change Password</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
    
  </div>
</nav>

{% if messages %}
{% for message in messages  %}
<p {% if message.tags %} class='{{ message.tags}}' {% endif %}> <i>{{message}}</i> </p>
{% endfor %}
{% endif %}
   
<main>
    <div class="container" >
        <h2 class='header text-center '> <b> Book an Appointment </b> </h2>
        <div class="container">
        <form action="{% url 'appointment' pk %}" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="col-md-6">

                <div class="form-group">
                   <label for="name">Full Name:</label>
                   <input type="text" class="form-control" id="name" value="{{username.first_name}} {{username.last_name}}" name="fullname" >
                </div>
                 <div class="form-group">
                   <label for="abt">Request:</label>
                   <textarea class="form-control" id="abt" placeholder="write your message" name="message" rows="4" cols="50" required></textarea>
                 </div>
                 
             
                 
                </div>
        
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="img"  name="email" value="{{username.email}}"  required>
              </div>    <br>
            
            <div class="form-group">
              <label for="name1">Contact:</label>
              <input type="text" class="form-control" id="name1" value="{{username.registrationform.contact}}"   placeholder="Enter your contact no." name="contact" required>
            </div><br>
            <button type="submit" class="btn btn-danger " style="width:100% ; margin:auto;" >Submit to Proceed</button>
         
        </div>
    </form>
        </div>
        </div>
        
</section>
</main>

<footer class="footer-distributed">

            <div class="footer-left">
          
                <h3><span>health prediction system</span></h3>

                <p class="footer-links">
                    <a href="home.html">Home</a>
                    |
                    <a href="#">Blog</a>
                    |
                    <a href="about2.html">About</a>
                    |
                    <a href="contact.html">Contact</a>
                </p>

                <p class="footer-company-name">© 2022 health prediction system.</p>
            </div>

            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                      <p>Vijay Nagar</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+91 22-27782183</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@helthcare.com">support@helthcare.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the health prediction system </span>
                A smart health prediction system is defined as a healthcare system that is intended to assist health professionals in their decision- making process regarding to medical situations.</p>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </footer>

     
  <!--  JQuery  -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!--  Bootstrap tooltips  -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!--  Bootstrap core JavaScript  -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  


</body>
</html>
